@charset "UTF-8";
/* ==========
共通
========== */
html {
    scroll-behavior: smooth;
}
.title_icons {
    text-align: center;
    display: inline-block;
    margin-left: 13%;
}
.titlenumber {
    font-size: 40px;
    font-family: kozuka-gothic-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.border {
    margin-top: 35px;
    margin-bottom: 35px;
    border-style: solid;
    size: 1.42;
    width: 24px;
    color: #1c144d;
}
.title {
    font-size: 28px;
    font-family: "Minion Variable", serif;
    letter-spacing: 0.03em;
}

/* ==========
header
========== */
header {
    max-width: 1150px;
    margin: 0 auto;
    padding: 75px 10px 0;
}
.header_inner {
    display: flex;
    align-items: center;
    width: 100%;
}
.logo {
    width: 68px;
}
.header_nav ul {
    display: flex;
    gap: 35px;
    margin-left: 65px;
}
.header_nav a {
    font-family: "Minion Variable", serif;
}
.box {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 88px;
    max-width: 1150px;
    height: 613px;
    background: linear-gradient(to bottom, #e3bb8d, #cdcdcf, #8082a3);
}
.catchcopy {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-size: 50px;
    font-family: dnp-shuei-gothic-kin-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 0.1em;
    padding-top: 83px;
    padding-right: 120px;
    margin-left: auto;
}
.catchcopy_sub {
    font-size: 15px;
    font-family: dnp-shuei-gothic-kin-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 3.33;
    letter-spacing: 0.1em;
    padding-left: 90px;
    padding-bottom: 75px;
}
.line {
    position: absolute;
    top: 0;
    right: 3%;
    display: flex;
    column-gap: 13px;
    writing-mode: vertical-rl;
    align-items: center;
}
.portfoliosite {
    color: #1c144d;
    font-size: 14px;
    font-family: "Minion Variable", serif;
    letter-spacing: 0.03em;
}

/* ==========
profile
========== */
#profile {
    position: relative;
}
.profile_pic {
    display: flex;
    align-items: center;
    margin: 220px 0 300px;
    position: relative;
}
.profile_picture {
    width: 55%;
}
.profile_box {
    width: 45%;
    padding-left: 5%;
}
.profile__bg {
    position: absolute;
    width: 63%;
    height: calc(100% + 95px + 80px);
    right: 0;
    top: -80px;
    z-index: -1;
    display: flex;
    flex-direction: column;
}
.bg-color {
    content: "";
    background-color: #c7d0d5;
    height: 100%;
    box-sizing: content-box;
}
.profile_box_middle {
    padding-right: 16px;
}
.webdesigner {
    font-size: 18px;
    font-family: brother-1816-printed, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
}
.name {
    font-family: brother-1816-printed, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
    padding-top: 40px;
}
.name_kanji {
    font-size: 20px;
    font-family: dnp-shuei-gothic-kin-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
    padding-top: 40px;
}
.profile_detail {
    font-size: 14px;
    font-family: dnp-shuei-gothic-kin-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2.643;
    padding-top: 68px;
}

/* ==========
servise
========== */
#servise {
    position: relative;
}
.skill {
    max-width: 885px;
    margin: 115px auto 255px;
    padding: 0 16px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.skill > div {
    width: 43%;
}
.skill_en {
    font-size: 36px;
    font-family: brother-1816-printed, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
}
.skill_ja {
    font-size: 20px;
    font-family: dnp-shuei-gothic-kin-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 38px;
}
.skill_pic {
    text-align: center;
    margin-top: 40px;
}
.skill_detail {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-family: dnp-shuei-gothic-kin-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.85;
    margin-top: 53px;
    word-wrap: anywhere;
    text-align: left;
}

/* ==========
works
========== */
#works {
    position: relative;
}
.works_gradationbox {
    width: 130px;
    height: 1990px;
    margin-top: 67px;
    background: linear-gradient(to bottom, #e3bb8d, #cdcdcf, #8082a3);
    text-align: left;
}
.works_flex {
    display: flex;
}
.works {
    width: 100%;
    height: auto;
    margin-top: 68px;
}
.works_contents {
    max-width: 985px;
    margin: 0 auto 248px;
    padding: 0 16px;
    display: flex;
    row-gap: 55px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 232px;
}
.works_contents_item {
    width: 47%;
    position: relative;
}
.works_contents_item img {
    transition: opacity 0.5s;
}
.works_contents_item:hover img:first-of-type {
    opacity: 0;
}
.works_contents_item img:last-of-type {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}
.works_contents_item:hover img:last-of-type {
    opacity: 1;
}

.works_category {
    font-size: 12px;
    font-family: brother-1816-printed, sans-serif;
    font-weight: 100;
    font-style: normal;
    line-height: 3.58;
    letter-spacing: 0.1em;
    margin-top: 25px;
}
.works_name {
    font-size: 16px;
    font-family: dnp-shuei-gothic-kin-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2.68;
    letter-spacing: 0.1em;
}
/* ==========
contact
========== */
#contact {
    position: relative;
}
.contact_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    max-width: 980px;
    margin-left: 30%;
    margin-right: 16px;
    height: 523px;
    background: linear-gradient(to bottom, #a3b8c4, #cdcdcf, #8082a3);
}
.contact_detail {
    font-size: 16px;
    font-family: dnp-shuei-gothic-kin-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2.75;
    letter-spacing: 0.1em;
    margin: 0 auto 70px 30%;
    padding-right: 16px;
}
.contact_button_bottom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-left: 30%;
}
.contact_button_area {
    max-width: 687px;
    width: 100%;
    height: 105px;
    line-height: 105px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    text-align: center;
    justify-content: center;
}
.contact_button {
    font-size: 20px;
    font-family: dnp-shuei-gothic-kin-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2.2;
    letter-spacing: 0.1em;
}

/* ==========
footer
========== */
.footer {
    height: 685px;
    margin-top: 225px;
    padding: 240px 16px 140px;
    padding-top: 240px;
    padding-bottom: 140px;
    background-image: url(../images/nami_bottom.jpg);
    background-repeat: no-repeat;
    background-position: top 0 center;
    background-size: cover;
}
.footer__inner {
    max-width: 1100px;
    margin: 0 auto;
}
.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 70px;
}
.footer_name > p + p {
    margin-top: 20px;
}
.footer_name-en {
    font-size: 25px;
    font-family: brother-1816-printed, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2em;
}
.footer_name-kanji {
    font-size: 18px;
    font-family: dnp-shuei-gothic-kin-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
}
.footer_menu {
    display: flex;
    gap: 40px;
}
.footer_img {
    width: 100%;
    height: auto;
}
.copyright {
    font-size: 14px;
    font-family: brother-1816-printed, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2em;
}
.sns-icon {
    text-align: right;
    padding-bottom: 70px;
}
.sns-icon img {
    width: 30px;
}
.footer_name p,
.footer_menu a,
.copyright {
    color: #ffffff;
}

.hamburger,
.header-nav-sp,
.box-sp,
.line-sp,
#profile-sp {
    display: none;
}

@media screen and (max-width: 767px) {
    /* 共通 */
    .title_icons {
        display: none;
    }

    .title_icons-sp {
        display: block;
        text-align: center;
        display: inline-block;
        align-items: center;
    }
    .titlenumber-sp {
        font-size: 20px;
        font-family: kozuka-gothic-pr6n, sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .border-sp {
        margin-top: 20px;
        margin-bottom: 20px;
        border-style: solid;
        size: 1;
        width: 12px;
        color: #1c144d;
    }
    .title {
        font-size: 14px;
        font-family: "Minion Variable", serif;
        letter-spacing: 0.03em;
    }

    .header_nav {
        display: none;
    }
    .hamburger {
        display: block;
        width: 44px;
        height: 8px;
        position: absolute;
        top: 69px;
        right: 40px;
        cursor: pointer;
        z-index: 9999;
    }
    .hamburger span {
        position: absolute;
        width: 44px;
        height: 1px;
        background-color: #1c1a3a;
        transition: 0.3s;
    }

    .hamburger span::after {
        position: absolute;
        content: "";
        width: 44px;
        height: 1px;
        background-color: #1c1a3a;
        bottom: 8px;
        transition: 0.3s;
    }

    .open span {
        transform: rotate(45deg);
        top: 0;
    }
    .open span::after {
        transform: rotate(-45deg);
        bottom: 0;
    }

    .header-nav-sp {
        position: absolute;
        background-color: #e6dfdfc4;
        width: 100%;
        height: 100vh;
        z-index: 9998;
    }

    .header-nav-sp ul {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 20px;
    }

    .header-nav-sp li {
        color: #1c1a3a;
        letter-spacing: 0.03em;
        font-family: "Minion Variable", serif;
        font-size: 16px;
        margin-left: 10%;
    }

    .line {
        display: none;
    }

    .line-sp {
        display: block;
        position: absolute;
        /* ★グラデボックスと同じ高さにしたいけど、どうやってtopの値を取ればいいですか？ */
        top: 173px;
        right: 3%;
        display: flex;
        column-gap: 10px;
        writing-mode: vertical-rl;
        align-items: center;
    }

    .portfoliosite-sp {
        color: #1c144d;
        font-size: 14px;
        font-family: "Minion Variable", serif;
        letter-spacing: 0.03em;
    }

    .box {
        display: none;
    }

    .box-sp {
        display: block;
        margin-top: 30px;
        margin-bottom: 70px;
        height: 680px;
        background: linear-gradient(to bottom, #e3bb8d, #cdcdcf, #8082a3);
    }

    .catchcopy-sp {
        font-size: 30px;
        writing-mode: horizontal-tb;
        font-family: dnp-shuei-gothic-kin-std, sans-serif;
        font-weight: 400;
        font-style: normal;
        line-height: 1.66;
        letter-spacing: 0.1em;
        margin-left: 10%;
        padding-top: 216px;
    }

    .catchcopy_sub-sp {
        font-size: 14px;
        font-family: dnp-shuei-gothic-kin-std, sans-serif;
        font-weight: 400;
        font-style: normal;
        line-height: 2.14;
        letter-spacing: 0.1em;
        margin-left: 10%;
        padding-top: 62px;
    }

    #profile {
        display: none;
    }
    #profile-sp {
        display: flex;
        flex-direction: column;
    }
    .profile__bg-sp {
        margin-top: -51px;
        z-index: -1;
    }
    .profile_pic-sp {
        padding: 85px 0 50px 0;
        background-color: #c7d0d5;
        margin: -1px 0;
    }
    .profile_box-sp {
        padding: 0 11%;
    }
    .webdesigner-sp {
        font-size: 14px;
        font-family: brother-1816-printed, sans-serif;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.1em;
        padding-top: 30px;
    }
    .name-sp {
        font-size: 18px;
        font-family: brother-1816-printed, sans-serif;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.1em;
        padding-top: 20px;
    }
    .name_kanji-sp {
        font-size: 14px;
        font-family: dnp-shuei-gothic-kin-std, sans-serif;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.1em;
        padding-top: 20px;
    }
    .profile_detail-sp {
        font-size: 14px;
        font-family: dnp-shuei-gothic-kin-std, sans-serif;
        font-weight: 400;
        font-style: normal;
        line-height: 2.643;
        padding-top: 30px;
    }

    #service {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    .skill {
        flex-direction: column;
        align-items: center;
        row-gap: 60px;
        margin: 60px 0 80px 0;
    }
    .skill > div {
        width: 85%;
    }
    .skill_pic {
        width: auto;
    }
    .skill_en {
        font-size: 18px;
    }
    .skill_ja {
        font-size: 13px;
        margin-top: 15px;
    }
    .skill_detail {
        font-size: 16px;
        line-height: 1.75;
        margin-top: 20px;
    }

    /* works */
    #works {
        display: none;
    }
    #works-sp {
        display: block;
    }
    .works_gradationbox-sp {
        width: 100%;
        height: 630px;
        background: linear-gradient(to bottom, #e3bb8d, #cdcdcf, #8082a3);
    }
}
