@charset "UTF-8";

/* header */
header {
    max-width: 1150px;
    margin: 0 auto;
    padding: 75px 10px 0;
}

.header_inner {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    width: 68px;
}

.header_nav ul {
    display: flex;
    gap: 35px;
    margin-left: 65px;
}

.header_nav li {
    font-size: 16px;
    font-family: "Minion Variable Concept";
}

.line {
    position: absolute;
    top: 0;
    right: 3%;
    display: flex;
    column-gap: 13px;
    writing-mode: vertical-rl;
    align-items: center;
}
