@charset "UTF-8";

/* header */
header {
    max-width: 1150px;
    margin: 0 auto;
    padding: 75px 10px 0;
}

.header_inner {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    width: 68px;
}

.header_nav ul {
    display: flex;
    gap: 35px;
    justify-content: flex-end;
    /* margin-left: 640px; */
}

.header_nav {
    width: 100%;
}

.header_nav a {
    font-size: 16px;
    font-family: "Minion Variable", serif;
    /* font-family: "minion-pro", serif; */
}

.line {
    position: absolute;
    top: 0;
    right: 3%;
    display: flex;
    column-gap: 13px;
    writing-mode: vertical-rl;
    align-items: center;
}

.portfoliosite {
    color: #1c1a3a;
    font-size: 14px;
    font-family: "Minion Variable", serif;
    /* font-family: "minion-pro", serif; */
    letter-spacing: 0.03em;
}

.profile_header {
    display: flex;
    gap: 15px;
    padding: 120px 0;
}

.short_line {
    margin: auto 0;
    width: 13%;
}

.namber {
    font-size: 30px;
    font-family: kozuka-gothic-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.03em;
}

.profile_header_category {
    font-size: 30px;
    letter-spacing: 0.03em;
}

.profile_top_img {
    max-width: auto;
    margin: 0, 410, 0, 160;
}

.profile {
    position: relative;
    margin-left: 17%;
}

.tulip {
    width: 32%;
    position: absolute;
    top: -90px;
    right: 0;
}

.job {
    font-size: 18px;
    font-family: brother-1816-printed, sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0.1em;
    margin-top: 160px;
}

.name_en {
    font-size: 36px;
    font-family: brother-1816-printed, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
    margin-top: 40px;
}

.name_kanji {
    font-size: 20px;
    font-family: dnp-shuei-gothic-kin-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
    margin-top: 40px;
}

.pro {
    font-size: 14px;
    font-family: dnp-shuei-gothic-kin-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 35px;
    margin-bottom: 90px;
}

.topic-items {
    padding: 47px 0;
}

.category {
    font-size: 18px;
    font-family: brother-1816-printed, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
}

.topic_line {
    width: 0.75px;
    color: #1c1a3a;
    margin: 10px -21%;
    width: 25%;
}

.category_detail {
    font-size: 14px;
    font-family: dnp-shuei-gothic-kin-std, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.communication-tool {
    font-size: 14px;
    font-family: dnp-shuei-gothic-kin-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 15px;
}

.contact_box {
    display: flex;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    margin-top: 220px;
    max-width: 1156px;
    margin-left: 0%;
    height: 471px;
    background: linear-gradient(to bottom, #65a7bc, #97adaa, #ebe6e0);
}

.contact_box_title {
    position: relative;
    top: 105px;
    padding-left: 13%;
}

.contact {
    font-size: 40px;
    font-family: "Minion Variable", serif;
    /* font-family: "minion-pro", serif; */
    letter-spacing: 0.03em;
    /* color: #ffffff; */
    color: #ddd;
}

.over_line {
    width: 150%;
    margin-left: -25%;
}

.contact_box_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.contact_detail {
    font-size: 16px;
    font-family: dnp-shuei-gothic-kin-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2.75;
    letter-spacing: 0.1em;
    margin: 60px 0 50px 30%;
}

.contact_button_bottom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-left: 30%;
}

.contact_button_area {
    max-width: 687px;
    width: 100%;
    height: 100px;
    line-height: 105px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    /* text-align: center; */
    justify-content: center;
    column-gap: 33%;
}

.contact_button {
    font-size: 20px;
    font-family: dnp-shuei-gothic-kin-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2.2;
    letter-spacing: 0.1em;
}

/* footer */

.footer hr {
    height: 0.75px;
    width: 89%;
    color: #1c1a3a;
}

.footer {
    margin-top: 200px;
}

.footer__inner {
    /* height: 1097px; */
    margin-top: 76px;
    padding: 0 120px 97px 120px;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 50px;
}

.footer_name > p + p {
    margin-top: 20px;
}

.footer_name-en {
    font-size: 25px;
    font-family: brother-1816-printed, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2em;
}

.footer_name-kanji {
    font-size: 18px;
    font-family: dnp-shuei-gothic-kin-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
}

.footer_menu {
    display: flex;
    gap: 40px;
}

.copyright {
    font-size: 14px;
    font-family: brother-1816-printed, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2em;
}

.sns-icon {
    text-align: right;
    padding-bottom: 70px;
}

.sns-icon img {
    width: 30px;
}

.footer_name p,
.footer_menu a,
.copyright {
    color: #1c1a3a;
}
