@charset "UTF-8";

/* header */
header {
    max-width: 1150px;
    margin: 0 auto;
    padding: 75px 10px 0;
}

.header_inner {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    width: 68px;
}

.header_nav ul {
    display: flex;
    gap: 35px;
    justify-content: flex-end;
    /* margin-left: 640px; */
}

.header_nav {
    width: 100%;
}

.header_nav a {
    font-size: 16px;
    font-family: "Minion Variable", serif;
}

.line {
    position: absolute;
    top: 0;
    right: 3%;
    display: flex;
    column-gap: 13px;
    writing-mode: vertical-rl;
    align-items: center;
}

.portfoliosite {
    color: #1c144d;
    font-size: 14px;
    font-family: "Minion Variable", serif;
    /* font-family: "minion-pro", serif; */
    letter-spacing: 0.03em;
}

.contact_header {
    display: flex;
    gap: 15px;
    padding: 115px 0 70px;
}

.short_line {
    margin: auto 0;
    width: 13%;
}

.namber {
    font-size: 30px;
    font-family: kozuka-gothic-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.03em;
}

.contact_header_category {
    font-size: 30px;
    font-family: "Minion Variable", serif;
    letter-spacing: 0.03em;
}

.thanks_box {
    width: 100%;
    height: 615px;
    background-color: #c7d0d5;
    text-align: center;
    margin-top: 210px;
}

.thanks_box > p + p {
    margin-top: 75px;
}

.thanks {
    font-size: 100px;
    font-family: adventures-unlimited, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 175px;
}

.thanks_message {
    font-size: 21px;
    font-family: kozuka-gothic-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2.095;
    letter-spacing: 0.05em;
}

/* footer */

.footer hr {
    height: 0.75px;
    width: 89%;
    color: #1c1a3a;
}

.footer {
    margin-top: 200px;
}

.footer__inner {
    /* height: 1097px; */
    margin-top: 76px;
    padding: 0 120px 97px 120px;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 50px;
}

.footer_name > p + p {
    margin-top: 20px;
}

.footer_name-en {
    font-size: 25px;
    font-family: brother-1816-printed, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2em;
}

.footer_name-kanji {
    font-size: 18px;
    font-family: dnp-shuei-gothic-kin-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
}

.footer_menu {
    display: flex;
    gap: 40px;
}

.copyright {
    font-size: 14px;
    font-family: brother-1816-printed, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2em;
}

.sns-icon {
    text-align: right;
    padding-bottom: 70px;
}

.sns-icon img {
    width: 30px;
}

.footer_name p,
.footer_menu a,
.copyright {
    color: #1c1a3a;
}
