@charset "UTF-8";

/* header */
header {
    max-width: 1150px;
    margin: 0 auto;
    padding: 75px 10px 0;
}

.header_inner {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    width: 68px;
}

.header_nav ul {
    display: flex;
    gap: 35px;
    justify-content: flex-end;
}

.header_nav {
    width: 100%;
}

.header_nav a {
    color: #ffffff;
    font-size: 16px;
    font-family: "Minion Variable", serif;
    /* font-family: "minion-pro", serif; */
}

.line {
    position: absolute;
    top: 0;
    right: 3%;
    display: flex;
    column-gap: 13px;
    writing-mode: vertical-rl;
    align-items: center;
}

.top_img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.portfoliosite {
    color: #1c144d;
    font-size: 14px;
    font-family: "Minion Variable", serif;
    /* font-family: "minion-pro", serif; */
    letter-spacing: 0.03em;
}

/*スクロールダウン全体の場所*/
.scrolldown1 {
    /*描画位置※位置は適宜調整してください*/
    position: absolute;
    left: 5%;
    top: 50%;
    /*全体の高さ*/
    height: 50px;
}

/*Scrollテキストの描写*/
.scrolldown1 span {
    /*描画位置*/
    position: absolute;
    left: 10px;
    top: 5px;
    /*テキストの形状*/
    color: #1c144d;
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    writing-mode: vertical-rl;
    font-family: "Minion Variable", serif;
}

/* 線の描写 */
.scrolldown1::after {
    content: "";
    /*描画位置*/
    position: absolute;
    top: 0;
    /*線の形状*/
    width: 1px;
    height: 30px;
    background: #1c144d;
    /*線の動き1.4秒かけて動く。永遠にループ*/
    animation: pathmove 2s ease-in-out infinite;
    opacity: 0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove {
    0% {
        height: 0;
        top: 0;
        opacity: 0;
    }
    30% {
        height: 100px;
        opacity: 1;
    }
    100% {
        height: 0;
        top: 100px;
        opacity: 0;
    }
}

/* 課題 */

.kadai {
    height: auto;
    position: relative;
}

.kadai img {
    width: 36%;
}

.kadai01 {
    margin-top: 298px;
    margin-left: 15%;
    border: solid 1px #1c1a3a;
}

.title_icons {
    position: absolute;
    top: 400px;
    left: 72%;
    text-align: center;
    display: inline-block;
}

.titlenumber {
    font-size: 40px;
    font-family: kozuka-gothic-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.border {
    margin-top: 35px;
    margin-bottom: 35px;
    border-style: solid;
    size: 1.42;
    width: 24px;
    color: #1c144d;
}

.title {
    font-size: 28px;
    font-family: "Minion Variable", serif;
    letter-spacing: 0.03em;
}

.explanation {
    position: absolute;
    top: 550px;
    left: 65%;
    max-width: 432px;
}

.explanation p {
    color: #1c1a3a;
}

.graphic_design {
    font-size: 14px;
    letter-spacing: 0.1em;
    font-family: brother-1816-printed, sans-serif;
    font-weight: 200;
    font-style: normal;
}

.kadai_title {
    font-size: 16px;
    letter-spacing: 0.1em;
    padding-top: 12px;
}

.kadai_explanation {
    line-height: 1.75;
    padding-top: 50px;
}

.period {
    padding-top: 40px;
}

.software {
    padding-top: 12px;
}

.kadai_explanation,
.period,
.software {
    font-size: 14px;
    letter-spacing: 0.03em;
}

.kadai_title,
.kadai_explanation,
.period,
.software {
    font-family: dnp-shuei-gothic-kin-std, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.works_flex {
    display: flex;
    justify-content: space-around;
    margin-top: 250px;
}

.works_nav {
    display: flex;
}

.works_nav_text {
    padding: 0 57px;
}

.works_flex p {
    font-size: 18px;
    letter-spacing: 0.1em;
    font-family: brother-1816-printed, sans-serif;
    font-weight: 200;
    font-style: normal;
}

/* contact */

.contact_box {
    display: flex;
    margin-top: 220px;
    max-width: 1156px;
    margin-left: 0%;
    height: 471px;
    background: linear-gradient(to bottom, #111c3e, #033b7b, #5c6f9c);
}

.contact_box_title {
    position: relative;
    top: 105px;
    padding-left: 13%;
}

.contact {
    font-size: 40px;
    font-family: "Minion Variable", serif;
    /* font-family: "minion-pro", serif; */
    letter-spacing: 0.03em;
    /* color: #ffffff; */
    color: #ddd;
}

.over_line {
    width: 150%;
    margin-left: -25%;
}

.contact_box_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.contact_detail {
    color: #ffffff;
    font-size: 16px;
    font-family: dnp-shuei-gothic-kin-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2.75;
    letter-spacing: 0.1em;
    margin: 60px 0 50px 30%;
}

.contact_button_bottom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-left: 30%;
}

.contact_button_area {
    max-width: 687px;
    width: 100%;
    height: 100px;
    line-height: 105px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    /* text-align: center; */
    justify-content: center;
    column-gap: 33%;
}

.contact_button {
    font-size: 20px;
    font-family: dnp-shuei-gothic-kin-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2.2;
    letter-spacing: 0.1em;
}

/* footer */

.footer hr {
    height: 0.75px;
    width: 89%;
    color: #1c1a3a;
}

.footer {
    margin-top: 200px;
}

.footer__inner {
    /* height: 1097px; */
    margin-top: 76px;
    padding: 0 120px 97px 120px;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 50px;
}

.footer_name > p + p {
    margin-top: 20px;
}

.footer_name-en {
    font-size: 25px;
    font-family: brother-1816-printed, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2em;
}

.footer_name-kanji {
    font-size: 18px;
    font-family: dnp-shuei-gothic-kin-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
}

.footer_menu {
    display: flex;
    gap: 40px;
}

.copyright {
    font-size: 14px;
    font-family: brother-1816-printed, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2em;
}

.sns-icon {
    text-align: right;
    padding-bottom: 70px;
}

.sns-icon img {
    width: 30px;
}

.footer_name p,
.footer_menu a,
.copyright {
    color: #1c1a3a;
}

.hamburger,
.header-nav-sp,
.work_header {
    display: none;
}

@media screen and (max-width: 767px) {
    .title_icons {
        display: none;
    }
    .work_header {
        display: flex;
        gap: 15px;
        padding: 45px 0 35px 0;
    }
    .short_line {
        margin: auto 0;
        width: 20%;
    }
    .namber {
        font-size: 20px;
        font-family: kozuka-gothic-pr6n, sans-serif;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.03em;
    }
    .work_header_category {
        font-size: 20px;
        letter-spacing: 0.03em;
    }

    .top_img {
        display: none;
    }

    header {
        padding-top: 35px;
    }

    .header_nav {
        display: none;
    }

    .line {
        top: 133px;
        column-gap: 10px;
    }

    .hamburger {
        display: block;
    }

    .header-nav-sp {
        position: fixed;
        width: 100%;
        height: 65vh;
        z-index: 9998;
        top: 0;
        left: 0;
    }

    .header-nav-sp ul {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 20px;
        padding-top: 140px;
        position: relative;
        z-index: 9998;
    }

    .header-nav-sp li {
        color: #1c1a3a;
        letter-spacing: 0.03em;
        font-family: "Minion Variable", serif;
        font-size: 16px;
        margin-left: 10%;
    }

    .nav-hamburger__svg {
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        fill: #e6dfdfc4;
        z-index: 9997;
    }

    .nav-hamburger__path {
        fill: #e6dfdfc4;
    }

    .trigger {
        position: fixed;
        top: 64px;
        right: 50px;
        cursor: pointer;
        z-index: 9999;
    }
    .trigger .wave {
        display: block;
        width: 37px;
        height: 12px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    .trigger .wave__bar:first-child {
        width: 100%;
    }
    .trigger .wave__bar {
        display: block;
        height: 4px;
        position: relative;
        overflow: hidden;
    }
    .trigger .wave svg {
        width: 282px;
        position: absolute;
        top: 0;
        right: 0;
    }
    .trigger .wave__bar:nth-child(2) {
        margin: 4px 0 0 auto;
    }

    .trigger:hover .wave__svg {
        animation: waveMatrix 5s linear infinite;
    }

    @keyframes waveMatrix {
        0% {
            transform: matrix(1, 0, 0, 1, 0, 0); /* 初期位置 */
        }
        100% {
            transform: matrix(1, 0, 0, 1, 200, 0); /* 右に移動 */
        }
    }

    /* 課題 */

    .kadai img {
        width: 60%;
    }
    .kadai01 {
        margin-top: 35px;
    }
    .explanation {
        position: static;
        margin: 15% 0 15% 15%;
    }
    .works_flex {
        margin-top: 0;
    }

    /* contact */
    .contact_box {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        width: 100%;
        height: auto;
        /* background: linear-gradient(to bottom, #65a7bc, #97adaa, #ebe6e0); */
    }
    .contact_box_title {
        position: static;
        top: 0;
        padding-left: 0;
        margin-top: 56px;
        padding-bottom: 27px;
    }
    .contact {
        font-size: 20px;
        font-family: "Minion Variable", serif;
        letter-spacing: 0.03em;
        color: #ddd;
        margin-left: 5%;
    }
    .over_line {
        width: 130px;
        margin-left: 0;
    }
    .contact_detail {
        margin: 0;
        width: 62%;
        font-size: 14px;
        font-family: dnp-shuei-gothic-kin-std, sans-serif;
        font-weight: 400;
        font-style: normal;
        line-height: 2.42;
        letter-spacing: 0.05em;
        margin-bottom: 25px;
        margin-left: 5%;
    }
    .contact_button_bottom {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-left: 30%;
    }
    .contact_button_area {
        max-width: 687px;
        width: 100%;
        height: 52px;
        line-height: 105px;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        justify-content: center;
        column-gap: 33%;
        margin-bottom: 70px;
    }
    .contact_button {
        font-size: 14px;
        font-family: dnp-shuei-gothic-kin-std, sans-serif;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.1em;
    }

    .footer {
        margin-top: 40px;
    }
    .footer__inner {
        padding-left: 10%;
    }
    .footer_menu {
        display: none;
    }
    .sns-icon {
        text-align: left;
        padding-bottom: 35px;
    }
    .sns-icon-img {
        display: none;
    }
    .footer_name-en {
        font-size: 18px;
    }
    .footer_name-kanji {
        font-size: 13px;
    }
    .footer__info {
        padding-bottom: 35px;
    }
}
