@charset "UTF-8";
body {
    position: relative;
}
body::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 65vw;
    height: 100%;
    background-image: url(../images/works.jpg);
    background-size: cover;
    z-index: -1;
}

/* ==========
header
========== */
header {
    max-width: 1150px;
    margin: 0 auto;
    padding: 75px 10px 0;
}
.header_inner {
    display: flex;
    align-items: center;
    width: 100%;
}
.logo {
    width: 68px;
}
.header_nav ul {
    display: flex;
    gap: 35px;
    justify-content: flex-end;
}
.header_nav {
    width: 100%;
}
.header_nav a {
    font-size: 16px;
    font-family: "Minion Variable", serif;
    color: #fff;
}
.line {
    position: absolute;
    top: 0;
    right: 3%;
    display: flex;
    column-gap: 13px;
    writing-mode: vertical-rl;
    align-items: center;
}
.portfoliosite {
    color: #ffffff;
    font-size: 14px;
    font-family: "Minion Variable", serif;
    letter-spacing: 0.03em;
}

/*スクロールダウン全体の場所*/
.scrolldown1 {
    /*描画位置※位置は適宜調整してください*/
    position: absolute;
    left: 5%;
    top: 15.5%;
    /*全体の高さ*/
    height: 50px;
}

/*Scrollテキストの描写*/
.scrolldown1 span {
    /*描画位置*/
    position: absolute;
    left: 10px;
    top: 5px;
    /*テキストの形状*/
    color: #1c144d;
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    writing-mode: vertical-rl;
    font-family: "Minion Variable", serif;
}

/* 線の描写 */
.scrolldown1::after {
    content: "";
    /*描画位置*/
    position: absolute;
    top: 0;
    /*線の形状*/
    width: 1px;
    height: 30px;
    background: #1c144d;
    /*線の動き1.4秒かけて動く。永遠にループ*/
    animation: pathmove 2s ease-in-out infinite;
    opacity: 0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove {
    0% {
        height: 0;
        top: 0;
        opacity: 0;
    }
    30% {
        height: 100px;
        opacity: 1;
    }
    100% {
        height: 0;
        top: 100px;
        opacity: 0;
    }
}

.work_header {
    display: flex;
    gap: 15px;
    padding: 120px 0;
}
.short_line {
    margin: auto 0;
    width: 13%;
}
.namber {
    font-size: 30px;
    font-family: kozuka-gothic-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.03em;
}

.starry-sky {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
    z-index: -1;
}

.star {
    position: absolute;
    top: 0;
    width: 3px;
    height: 3px;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
}

.work_header_category {
    font-size: 30px;
    letter-spacing: 0.03em;
}
/* .starrysky {
  text-align: right;
  position: fixed;
  top: 0;
  right: 0;
  width: auto;
  height: 100vh;
  background-image: url("../images/works.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
} */
.category_flex {
    display: flex;
    gap: 20px;
    margin-top: 70px;
    margin-left: calc(13% + 15px);
    text-align: center;
}
.category li + li {
    column-gap: 30px;
}
.category {
    color: #1c1a3a;
    font-size: 24px;
    font-family: "Minion Variable", serif;
    letter-spacing: 0.03em;
}
.custom-select-wrapper {
    position: relative;
    width: 150px;
    padding: 0 20px;
}
.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
    cursor: pointer;
}
.custom-select-trigger {
    background-color: #fff;
    border-bottom: 1px solid #1c1a3a;
    padding: 10px;
    font-size: 16px;
    color: #333;
    position: relative;
}
.custom-select-trigger::before {
    position: absolute;
    content: "";
    height: 10px;
    width: 1px;
    background-color: #1c1a3a;
    right: 15px;
    top: 17px;
    transform: rotate(-46deg);
}
.custom-select-trigger::after {
    position: absolute;
    content: "";
    height: 10px;
    width: 1px;
    background-color: #1c1a3a;
    right: 8px;
    top: 17px;
    transform: rotate(46deg);
}
.custom-options {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    background-color: #eae4bf;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 4px;
    z-index: 10;
}
.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible; /* 開いたときに表示される */
}
.custom-option {
    padding: 10px 0;
    background-color: #eae4bf;
}
.custom-option:hover {
    background-color: #f2efde;
}
/* ==========
works
========== */
#works {
    position: relative;
}
.works_flex {
    display: flex;
    margin-right: 10vw;
}
.works {
    width: 100%;
    height: auto;
    margin-top: 68px;
}
.works_contents {
    max-width: 985px;
    margin: 0 auto 248px;
    padding: 0 16px;
    display: flex;
    row-gap: 55px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 232px;
}

.works_contents_item {
    position: relative;
    width: 47%;
    overflow: hidden;
}

.works_contents_item a:hover {
    opacity: 1;
}
.works_contents_item img {
    transition: opacity 0.5s;
}
.works__detail-img:hover {
    opacity: 0;
}
.works__detail-img {
    position: relative;
    z-index: 2;
}
.works__detail-img--hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 1;
}

/* .works_contents_item:nth-child(even) {
    margin-top: 150px;
} */

.odd-item {
    margin-top: 0;
}
.even-item {
    margin-top: 150px;
}
.even-item .works_category,
.even-item .works_name {
    color: #ffffff;
    width: 60vw;
}

.single-item {
    display: block;
}

.works_category {
    color: #1c1a3a;
    font-size: 14px;
    font-family: brother-1816-printed, sans-serif;
    font-weight: 100;
    font-style: normal;
    line-height: 3.58;
    letter-spacing: 0.1em;
    margin-top: 25px;
}
/* .works_category_white {
    color: #ffffff;
    font-size: 14px;
    font-family: brother-1816-printed, sans-serif;
    font-weight: 100;
    font-style: normal;
    line-height: 3.58;
    letter-spacing: 0.1em;
    margin-top: 25px;
} */
.works_name {
    color: #1c1a3a;
    font-size: 16px;
    font-family: dnp-shuei-gothic-kin-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2.68;
    letter-spacing: 0.1em;
}

/* .works_name_white {
    color: #ffffff;
    font-size: 16px;
    font-family: dnp-shuei-gothic-kin-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2.68;
    letter-spacing: 0.1em;
} */

/* ==========
contact
========== */
.contact_box {
    display: flex;
    margin-top: 220px;
    max-width: 1156px;
    margin-left: 0%;
    height: 471px;
    background-image: url(../images/works_contact.jpg);
}
.contact_box_title {
    position: relative;
    top: 105px;
    padding-left: 13%;
}
.contact {
    font-size: 40px;
    font-family: "Minion Variable", serif;
    letter-spacing: 0.03em;
    color: #ddd;
}
.over_line {
    width: 150%;
    margin-left: -25%;
}
.contact_box_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.contact_detail {
    font-size: 16px;
    font-family: dnp-shuei-gothic-kin-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2.75;
    letter-spacing: 0.1em;
    color: #ddd;
    margin: 60px 0 50px 30%;
}
.contact_button_bottom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-left: 30%;
}
.contact_button_area {
    max-width: 687px;
    width: 100%;
    height: 100px;
    line-height: 105px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    justify-content: center;
    column-gap: 33%;
}
.contact_button {
    font-size: 20px;
    font-family: dnp-shuei-gothic-kin-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2.2;
    letter-spacing: 0.1em;
}

/* ==========
footer
========== */
.footer hr {
    height: 0.75px;
    width: 89%;
    color: #1c1a3a;
}
.footer {
    margin-top: 200px;
}
.footer__inner {
    margin-top: 76px;
    padding: 0 120px 97px 120px;
}
.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 50px;
}
.footer_name > p + p {
    margin-top: 20px;
}
.footer_name-en {
    font-size: 25px;
    font-family: brother-1816-printed, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2em;
}
.footer_name-kanji {
    font-size: 18px;
    font-family: dnp-shuei-gothic-kin-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
}
.footer_menu {
    display: flex;
    gap: 40px;
}
.copyright {
    font-size: 14px;
    font-family: brother-1816-printed, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2em;
}
.sns-icon {
    text-align: right;
    padding-bottom: 70px;
}
.sns-icon img {
    width: 30px;
}
.footer_name p,
.copyright {
    color: #1c1a3a;
}
.footer_menu a {
    color: #ffffff;
}

.hamburger,
.header-nav-sp,
.contact_box-sp,
.sns-icon-img-sp {
    display: none;
}

@media screen and (max-width: 767px) {
    body::before {
        position: absolute;
        content: "";
        top: 330px;
        left: 0;
        width: 70vw;
        /* height: 4034px; */
        height: 77%;
        background-image: url(../images/works.jpg);
        background-size: cover;
        z-index: -1;
    }

    .portfoliosite {
        color: #1c1a3a;
    }

    header {
        padding-top: 35px;
    }

    .header_nav {
        display: none;
    }

    .line {
        top: 133px;
        column-gap: 10px;
    }

    .hamburger {
        display: block;
        /* width: 44px;
        height: 8px;
        position: absolute;
        top: 69px;
        right: 40px;
        cursor: pointer;
        z-index: 9999; */
    }

    .header-nav-sp {
        /* position: absolute;
        background-color: #e6dfdfc4;
        width: 100%;
        height: 100vh;
        z-index: 9998; */
        position: fixed;
        width: 100%;
        height: 65vh;
        z-index: 9998;
        top: 0;
        left: 0;
    }

    .header-nav-sp ul {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 20px;
        padding-top: 140px;
        position: relative;
        z-index: 9998;
    }

    .header-nav-sp li {
        color: #1c1a3a;
        letter-spacing: 0.03em;
        font-family: "Minion Variable", serif;
        font-size: 16px;
        margin-left: 10%;
    }

    .nav-hamburger__svg {
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        fill: #e6dfdfc4;
        z-index: 9997;
    }

    .nav-hamburger__path {
        fill: #e6dfdfc4;
    }

    .trigger {
        position: fixed;
        top: 64px;
        right: 50px;
        cursor: pointer;
        z-index: 9999;
    }
    .trigger .wave {
        display: block;
        width: 37px;
        height: 12px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    .trigger .wave__bar:first-child {
        width: 100%;
    }
    .trigger .wave__bar {
        display: block;
        height: 4px;
        position: relative;
        overflow: hidden;
    }
    .trigger .wave svg {
        width: 282px;
        position: absolute;
        top: 0;
        right: 0;
    }
    .trigger .wave__bar:nth-child(2) {
        margin: 4px 0 0 auto;
    }

    .trigger:hover .wave__svg {
        animation: waveMatrix 5s linear infinite;
    }

    @keyframes waveMatrix {
        0% {
            transform: matrix(1, 0, 0, 1, 0, 0); /* 初期位置 */
        }
        100% {
            transform: matrix(1, 0, 0, 1, 200, 0); /* 右に移動 */
        }
    }

    .work_header {
        padding: 45px 0 35px 0;
    }
    .short_line {
        margin: auto 0;
        width: 20%;
    }
    .namber {
        font-size: 20px;
    }
    .work_header_category {
        font-size: 20px;
    }
    .category_flex {
        margin: 0;
        margin-left: calc(20% + 15px);
        align-items: center;
    }
    .category {
        font-size: 16px;
    }

    /* work */
    .works_contents {
        display: flex;
        flex-direction: column;
    }
    .works_contents_item:nth-child(even) {
        margin-top: 0;
    }
    .works_category,
    .works_name {
        color: #ffffff;
    }
    .works_contents_item {
        width: 69vw;
    }
    .works_category {
        margin-top: 15px;
    }
    .works_contents {
        row-gap: 45px;
    }

    /* contact */
    .contact_box {
        display: none;
    }
    .contact_box-sp {
        display: block;
        width: 100%;
        height: 443px;
    }
    .contact_box-sp {
        display: flex;
        flex-direction: column;
        margin-top: 37px;
        height: auto;
        background: linear-gradient(to bottom, #111c3e, #033b7b, #5c6f9c);
    }
    .contact_box_title-sp {
        margin-top: 56px;
        padding-bottom: 27px;
    }
    .contact-sp {
        font-size: 20px;
        font-family: "Minion Variable", serif;
        letter-spacing: 0.03em;
        color: #ddd;
        margin-left: 5%;
    }
    .over_line-sp {
        width: 130px;
        margin-left: 0;
    }
    .contact_detail-sp {
        width: 62%;
        font-size: 14px;
        font-family: dnp-shuei-gothic-kin-std, sans-serif;
        font-weight: 400;
        font-style: normal;
        line-height: 2.42;
        letter-spacing: 0.05em;
        color: #fff;
        margin-bottom: 25px;
        margin-left: 5%;
    }
    .contact_button_bottom-sp {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-left: 30%;
    }
    .contact_button_area-sp {
        max-width: 687px;
        width: 100%;
        height: 52px;
        line-height: 105px;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        justify-content: center;
        column-gap: 33%;
        margin-bottom: 70px;
    }
    .contact_button-sp {
        font-size: 14px;
        font-family: dnp-shuei-gothic-kin-std, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #1c1a3a;
        letter-spacing: 0.1em;
    }

    /* footer */
    .footer {
        margin-top: 40px;
    }
    .footer__inner {
        padding-left: 10%;
    }
    .footer_menu {
        display: none;
    }
    .sns-icon {
        text-align: left;
        padding-bottom: 35px;
    }
    .sns-icon-img {
        display: none;
    }
    .sns-icon-img-sp {
        display: block;
    }
    .footer_name-en {
        font-size: 18px;
    }
    .footer_name-kanji {
        font-size: 13px;
    }
    .footer__info {
        padding-bottom: 35px;
    }
}
